<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>智能导学系统</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>

    <div class="login-container">

        <h1>智能导学系统</h1>
        <form id="loginForm" action="/login/" method="post">
            {% csrf_token %}
            <div class="input-group">
                <span class="icon">&#128100;</span>
                <input type="text" id="username" placeholder="用户名" required>
            </div>
            <div class="input-group">
                <span class="icon">&#128274;</span>
                <input type="password" id="password" placeholder="密码" required>
            </div>
            <button type="submit" class="login-button">登 录</button>
        </form >
        <div class="links">
            <a href="#">用户名: admin</a>
            <a href="#">密码: admin</a>
        </div>
    </div>
    <script src="login.js"></script>
</body>
</html>
